# --- Maven ---
target/

# --- IDE (IntelliJ) ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Test Outputs (Local only) ---
reports/
test-output/
temp-testng-customsuite.xml

# --- Mac System Files ---
.DS_Store

# --- Logs and Packages ---
*.log
*.jar
*.war